@page
@model BaSyx.Common.UI.Pages.AssetAdministrationShellModel
@using System.Collections.Generic
@using System.Linq
@using BaSyx.API.Components;
@using BaSyx.Models.Core.AssetAdministrationShell.Generics;
@using BaSyx.Utils.Settings.Types;
@using Microsoft.AspNetCore.Hosting

@{
    IAssetAdministrationShellServiceProvider sp = Model.ServiceProvider;
    ServerSettings settings = Model.Settings;

    IEnumerable<ISubmodelServiceProvider> submodelServiceProviders = null;
    var retrievedSubmodelServiceProvider = sp.SubmodelRegistry.GetSubmodelServiceProviders();
    if (retrievedSubmodelServiceProvider.Success && retrievedSubmodelServiceProvider.Entity != null)
    {
        submodelServiceProviders = retrievedSubmodelServiceProvider.Entity;
    }

    IAssetAdministrationShell aas = sp.GetBinding();
	IWebHostEnvironment hostingEnvironment = Model.HostingEnvironment;
    string pathToCompanyLogo = settings.Miscellaneous.TryGetValue("CompanyLogo", out string path) ? path : string.Empty;

    ViewData["Title"] = settings.UIConfig?.Title ?? aas.IdShort;
    ViewData["ApiRoot"] = "/aas";
    ViewData["ApiType"] = "AssetAdministrationShell";
    ViewData["aasId"] = aas.Identification.Id;
}


<div class="starter-template">
    <h1>@aas.IdShort - Asset Administration Shell UI</h1>
    <p class="lead">Generic UI to discover the Asset Administration Shell </p>
</div>

@await Html.PartialAsync("_AssetAdministrationShell", aas)

@await Html.PartialAsync("_Asset", aas.Asset)

@if (submodelServiceProviders?.Count() > 0)
{
    foreach (var submodelServiceProvider in submodelServiceProviders)
    {
        ISubmodel submodel = submodelServiceProvider.GetBinding();
        @await Html.PartialAsync("_Submodel", submodel)
    }
}


